:root {
  --primary-color: #004F9B;
  --primary-color-light: rgb(0, 113, 222);
}

:global * {
  box-sizing: border-box;
}

:global html {
  color: rgba(0, 0, 0, 0.9);
}

:global body {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

:global a {
  color: var(--primary-color);
}
:global a:hover {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 42rem;
  padding: 2.625rem 1.3125rem;
}